@import "../../scss/variables";
@import "../../scss/mixins";

.btn {
  &__default {
    border: none;
    color: map-get($colors, "while");
    margin-top: -3px;
  }
  &--lg {
    width: 115px;
    height: 39px;
    font-size: 14px;
    border-radius: 12px;
    padding: 23px;
    background-color: map-get($colors, "green-1");
    @include flex(center, center);
  }
  &--sm {
    width: 134px;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 21px;
    background-color: map-get($colors, "green-1");
  }
}
